# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
runs/*
*.log
*.log
*.gz
java_pid10052.hprof
.env
*.hprof
.kotlin/sessions/kotlin-compiler-12580942981619124279.salive
